[Desktop Entry]
Encoding=UTF-8
Name=Link to Code Bubbles: Rethinking the User Interface Paradigm of Integrated Development Environments - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=PsPX0nElJ0k
Icon=text-html
