[Desktop Entry]
Encoding=UTF-8
Name=Link to How to use CodeBubbles in VM - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=C6l2Gf3aqSo&feature=youtu.be
Icon=text-html
