[Desktop Entry]
Type=Application
Exec="/home/vagrant/Desktop/Executable/launch_code_bubbles.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=launch_code_bubbles.sh
Name=launch_code_bubbles.sh
Comment[en_IN]=Code_bubbles_launcher
Comment=Code_bubbles_launcher